@import "tailwindcss";

:root {
  color: #263021;
  background: #f8f8f2;
  --mangaba-green: #3f5735;
  --mangaba-green-dark: #263021;
  --mangaba-yellow: #f7c51f;
  --mangaba-lime: #e9fb4f;
  --mangaba-olive: #99ad17;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

.font700 {
  font-weight: 700;
}

.font800 {
  font-weight: 800;
}

.font900 {
  font-weight: 900;
}
