.navbar {
  background-color: #4b5b47;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  margin: 0;
}

.logo {
  padding-left: 50px;
  padding-right: 50px;
}

.links-esquerda {
  display: flex;
  // align-items: center;
  gap: 20px;
}

.links-direita {
  display: flex;
  // align-items: center;
  gap: 20px;
}
